.container {
    margin-top: 100px;
    display: block;
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    text-align: center;
}


.google {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.input {
    width: 400px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #dfe1e5;  
}

